.tools {
  display: flex;

}

.btn {
  padding: 10px;
  margin-right: 50px;
  border: 2px solid black;
  width: 100px;
  height: 50px;
}

.react-flow__edge {
  color: red;
  background-color: blue;
}

.info {
  background-image: linear-gradient(to bottom, #6F95C2, #1B58A3);
  height: 80%;
  z-index: 1000;
  width: 25%;
  top: 0;
  right: 0;

}

.info-edge {
  background-image: linear-gradient(to bottom, #6F95C2, #1B58A3);
  height: 80%;
  z-index: 1000;
  width: 25%;
  top: 0;
  right: 0;

}

.infoblock {
  margin: 10px;
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.infoblock>input,
textarea,
select {
  padding: 5px;
  color: black;
  background-color: white;
  border-radius: 10px;
}

.infoblock-edge {
  margin: 10px;
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.infoblock-edge>input {
  background-color: white;
  color: black;
  flex: 1;
  /* Input alanının tüm boşluğu kaplaması için */
  height: 100%;
  width: 100%;
  border-radius: 10px;
  /* Yüksekliği %100 olarak ayarlayın */
  border: none;
  /* Kenar çizgisi olmadan */
  padding: 10px;
  /* Kenar boşluğu ekleyin */
  box-sizing: border-box;
  /* Padding'i hesaba katarak boyutu ayarlamak için */
}