.tools{
    display: flex;
  
  }
  .btn{
    padding: 10px;
    margin-right: 50px;
    border: 2px solid black ;
    width: 100px;
    height: 50px;
  }

  .react-flow__edge{
    color: red;
    background-color: blue;
  }
  .infoblock{
    border: 1px solid green;
    width: 150px;
    min-height: 100px;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
  }